[SddmGreeterTheme]
Name=Space
Description=Space sddm theme for plasma 6
Author=Eliver Lara
Copyright=(c) 2024, Eliver Lara
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=https://github.com/EliverLara/Space-kde/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=eliverlara@gmail.com
Theme-Id=space
Theme-API=2.0
QtVersion=6
